h1 {
    font-size: 300%;
}
p {
    font-family: Arial; color:palevioletred;
}
p1 {
    font-family: Arial; color:blue;
}
p2 {
    font-family: Arial; color:yellow;
}
body {
    background-color: lightsalmon;
}